<div class="signin-box">
  <div class="row login-background">
    <div class="col-5">
    </div>
    <div class="col-7 login-field complete-signup-field">
      <h2 class="dark-red">COMPLETE SIGN UP</h2>
      <p>Sign Up to shop and explore Get Art</p>
      <%= form_for(@current_user, url: complete_signup_user_index_path) do |f| %>
        <%= render partial: "error_messages", locals:{ user:  @current_user} %>
        <%= f.fields_for :user_detail, @current_user.build_user_detail do |user_detail|%>
          <div class="field">
            <%= user_detail.label :email_id, "E-mail:" %>
            <%= text_field_tag :email_id, @current_user.email_id, disabled: true %>
          </div>
          <div class="field">
            <%= user_detail.label :full_name, "Full Name:" %>
            <%= user_detail.text_field :full_name, autofocus: true, autocomplete: "off", placeholder: "Enter Your Full Name", required: true %>
          </div>
          <div class="field">
            <%= user_detail.label :phone_no, "Mobile Number:" %>
            <%= user_detail.text_field :phone_no, autocomplete: "off", placeholder: "Enter Your Mobile Number", required: true, class: "numberField" %>
          </div>  
          <%= user_detail.hidden_field :email_id, value: @current_user.email_id %>
        <% end %>
        
        <div class="field complete-signup-submit-field field-right">
          <%= f.submit "SAVE" %>
        </div>
      <% end %>
    </div>
  </div>
</div>