<div class="grid-container">
  <div class="col-user-img">
    <div class="user-img-container grey-color-container">
      <div class="edit-container"><%= link_to "Edit", logout_user_index_path %></div>
      <div class="user-img">
        <%= image_tag @user_detail.avatar.url %>
      </div>
      <div class="name-container"><%= @user_detail.full_name.presence || "(Full Name)" %></div>
      <div class="email-container"><%= @user_detail.email_id %></div>
      <div class="phone-no-container"><%= @user_detail.phone_no.presence || "(Phone no.)" %></div>
      <div class="log-out-container"><%= link_to "Log out", logout_user_index_path %></div>
    </div>
  </div>
  <div class="user-actions-container">
    <%= link_to "#" do %>
      <div class="user-action-container grey-color-container">
        <div class="action-img">
          <%= image_tag "my_orders.svg" %>
        </div>
        <div class="action-hreader-des">
          <h5>My Orders</h5>
          <p>Track Return Repeat buy</p>
        </div>
      </div>
    <% end %>
    <%= link_to "#" do %>
      <div class="user-action-container grey-color-container">
        <div class="action-img">
          <%= image_tag "my_addresses.svg" %>
        </div>
        <div class="action-hreader-des">
          <h5>Addresses</h5>
          <p>Add Edit Remove</p>
        </div>
      </div>
    <% end %>
    <%= link_to "#" do %>
      <div class="user-action-container grey-color-container">
        <div class="action-img">
          <%= image_tag "payment_options.svg" %>
        </div>
        <div class="action-hreader-des">
          <h5>Payment Options</h5>
          <p>Add Edit Remove</p>
        </div>
      </div>
    <% end %>
    <%= link_to "#" do %>
      <div class="user-action-container grey-color-container">
        <div class="action-img">
          <%= image_tag "security.svg" %>
        </div>
        <div class="action-hreader-des">
          <h5>Security</h5>
          <p>Personal Details and Password</p>
        </div>
      </div>
    <% end %>
    <%= link_to "#" do %>
      <div class="user-action-container grey-color-container">
        <div class="action-img">
          <%= image_tag "coupons.svg" %>
        </div>
        <div class="action-hreader-des">
          <h5>Coupons</h5>
          <p>Manage Coupons</p>
        </div>
      </div>
    <% end %>
    <%= link_to "#" do %>
      <div class="user-action-container grey-color-container">
        <div class="action-img">
          <%= image_tag "help.svg" %>
        </div>
        <div class="action-hreader-des">
          <h5>Help</h5>
          <p>Get in touch with us</p>
        </div>
      </div>
    <% end %> 
  </div>
</div>