<div class="signin-box">
  <div class="row login-background">
    <div class="col-5">
    </div>
    <div class="col-7 login-field">
      <h2 class="dark-red">RESET YOUR PASSWORD</h2>
      <%= form_for(@user, url: forgot_password_user_index_path) do |f| %>
        <%= render partial: "error_messages", locals:{ user: @user} %>
        <% case @step.try(:to_sym) %>
        <% when :mail_sent %>
        <% when :token_authenticated, :password_not_match %>
          <%= render partial: "error_messages", locals:{ user: @user} %>
          <div class="field">
            <% if User.minimum_password_length %>
              <em>(<%= User.minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Set Password", required: true %>
          </div>

          <div class="field">
            <%= f.password_field :confirm_password, autocomplete: "new-password", placeholder: "Confirm Password", required: true %>
          </div>
          <%= f.hidden_field :email_id, readonly: true %>
          <%= hidden_field_tag :step, @step %>
          
          <div class="field field-right">
            <%= f.submit "CONTINUE" %>
          </div>
        <% else %>
          <div class="field">
            <%= f.email_field :email_id, autofocus: true, autocomplete: "off", placeholder: "E-mail", required: true %>
          </div>

          <div class="field field-right">
            <%= f.submit "CONTINUE" %>
          </div>
        <% end %>
        
        <div class="field field-center signup-link-margin">
          <%= link_to "New to Get Art? Create an Account", sign_up_user_index_path, class: "light-red bold-text" %>
        </div>
      <% end %>
    </div>
  </div>
</div>