<div class="signup-box">
  <h2>Sign up</h2>
  <div class="row">
    <div class="col">
      <%= form_for(@user, url: sign_up_user_index_path) do |f| %>
        <%= render partial: "error_messages", locals:{ user: @user} %>
      
        <div class="field">  
          <%= f.label :full_name %><br />
          <%= f.text_field :full_name, autocomplete: "off" %>
        </div>
        
        <div class="field">
          <%= f.label :email_id %><br />
          <%= f.email_field :email_id, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :phone_no %><br />
          <%= f.text_field :phone_no, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if User.minimum_password_length %>
          <em>(<%= User.minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :confirm_password %><br />
          <%= f.password_field :confirm_password, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
          <%= link_to "Log in", login_user_index_path, class: "button-like" %><br />
        </div>
      <% end %>
    </div>
    <div class="vl"></div>
    <div class="col">
      <i class="fab fa-facebook-f icon-links" style="width: 4em;height:4em;"></i>
      <i class="fab fa-google icon-links" style="width: 4em;height:4em;"></i>
    </div>
  </div>
</div>